.new-email-container {
    width: 50vw;
    margin: auto;
    text-align: left;
}

.new-email-container form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: auto;
}

.new-email-container form >* {
    padding: 0.5em;
    margin: 0.5em;
}
.add-email{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(236, 223, 232);
}
.new-email-container h1{
    text-align: center ;
}