.emails-list {
    text-align: center;
}

.table {
    display: table;
}

.email-preview-card {
    border-radius: 12px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
    padding: 1rem;
    list-style-type: none;
    text-align: center;
    text-transform: capitalize;

}

.row {
    border-bottom: 1px solid gray;
}