.email-preview {
    display: table-row-group;
    width: 100%;
}

.cell {
    display: table-cell;
    /* border-bottom: 1px solid gray; */
    max-width: 30%;
}

.cell > p {
    margin: 0;
    padding: 0.5em;
    padding-inline: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sender {}

.subject {
    width: 70%;
}

.date {}