.emails-list {
    /* text-align: center; */
}

.table {
    display: table;
    width: 80vw;
}

.email-preview-card {
    list-style-type: none;
    border-bottom: 1px solid rgb(103, 2, 83);
}

.row {
    /* border-bottom: 1px solid gray; */
}

.unread {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}