.email-preview-container {
display: flex;
}

.email-preview {
    display: table-row-group;
    width: 100%;
}


.cell {
    display: table-cell;
    /* border-bottom: 1px solid gray; */
    /* /* max-width: 30% */
    width: 10vw;
}

.cell > p {
    margin: 0;
    padding: 0.5em;
    padding-inline: 1.5em;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.sender {
    width: 30vw;
    text-align: left;
}

.subject {
    width: 30vw;
    text-align: left;
}

.date {
    width: 30vw;
    text-align: right;
}