.email-folder-list {
    display: table-cell;
    /* width: 100%; */
    padding: 0.5em;
}

.email-folder-list:hover{
    cursor: pointer;
}

.email-folder-list >* i {
    padding: 0.5em;
}

.inbox, 
.starred-emails,
.drafts,
.sent-emails,
.deleted-emails{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.email-folder-list p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 1em;
}
