.email-preview-container {
    display: flex;
}

.email-preview {
    display: table-row-group;
    width: 100%;
}
.cell.star{
    font-size: 1em;
}

.cell {
    display: table-cell;
    /* border-bottom: 1px solid rgb(103, 2, 83); */
    padding: 0px;
}

.cell > p {
    margin: 0;
    padding: 0.5em;
    padding-inline: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sender {
    width: 30vw;
    text-align: left;
}

.subject {
    width: 30vw;
    text-align: left;
}

.date {
    width: 30vw;
    text-align: right;
}